<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">AVAILABLE BALOONS</h1>
            <div class="spinner-grow text-primary" role="status">
            </div>
            <div class="spinner-grow text-secondary" role="status">
            </div>
            <div class="spinner-grow text-success" role="status">
            </div>
            <div class="spinner-grow text-danger" role="status">
            </div>
            <br/>
            <h2 th:text="${userName != null} ? 'Hi there, ' + ${userName} : 'Hi there, Guest!'"></h2>

        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <form th:action="@{/form}" th:method="GET">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-trash">Add a
                            balloon</i>
                        </button>
                    </form>

                    <br/>

                    <form th:action="@{/search}" th:method="GET" class="form-inline my-2 my-lg-0">
                        <input type="text" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-lg"
                               id="name"
                               name="name"
                               placeholder="Search by name...">
                    </form>

                    <br/>
                    <br/>

                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Size</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="balloon : ${listBalloons}">
                        <form th:method="POST" th:action="@{'shopping-cart/add-product/{id}' (id=${balloon.getId()})}">
                            <td th:text="${balloon.getName()}"></td>
                            <td th:text="${balloon.getDescription()}"></td>
                            <td th:text="${balloon.getManufacturer() != null}
                            ? ${balloon.getManufacturer().getName()} : 'No Manufacturer'"></td>
                            <td th:text="${balloon.getId()}"></td>
                            <td th:text="${balloon.getType()}"></td>
                            <td>
                                <select name="size" class="form-control" required>
                                    <option th:value="small"
                                            th:text="Small">
                                    </option>
                                    <option th:value="large"
                                            th:text="Large">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <!--                            <form th:method="POST"-->
                                <!--                                  th:action="@{'shopping-cart/add-product/{id}' (id=${balloon.getId()})}">-->
                                <button name="balloon" th:value="${balloon.getId()}" type="submit"
                                        class="btn btn-success btn-sm">Add to cart
                                </button>
                            </td>
                        </form>

                        <td>
                            <form th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}" th:method="DELETE">
                                <button type="submit" class="btn btn-sm btn-danger btn-sm"><i
                                        class="fa fa-trash">Delete</i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{'/balloons/edit-balloon/{id}' (id=${balloon.getId()})}" th:method="GET">
                                <button type="submit" class="btn btn-sm btn-info btn-sm"><i class="fa fa-trash">Edit</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>