<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <h2>Choose balloon color:</h2>
    <form th:method="POST" th:action="@{/general}">
        <ul>
            <li th:each="balloon : ${Balloons}">
                <input type="radio" name="color" th:value="${balloon.name}" />
                <label th:text="${balloon.name + ' Balloon'}"></label>
            </li>
        </ul>
        <input type="submit" value="Submit">
    </form>

</main>
</body>
</html>